.Problem-Container {
    margin: 32px 64px;
}

.Problem-Header-Container {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
}

.Problem-Difficulty {
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 12px;
    margin: 8px 16px;
    color: #ffffff;
}

.Problem-Name {
    color: #404040;
    font-size: 20px;
}

.Problem-Tab-Container {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
}

.Problem-Seperator {
    width: 100%;
    border-top: 1px solid #808080;
    margin: 16px 0px;
}