.LoginPage-Container {
    display: grid;
    justify-self: center;
    margin: 32px 64px;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.LoginPage-Form {
    display: grid;
    gap: 16px;
}

.LoginPage-Field {
    display: grid;
    gap: 8px;
}

.LoginPage-Field-Title {
    color: #606060;
    font-size: 20px;
}

.LoginPage-SubmitButton {
    color: #1389f4;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 16px;
    outline: none;
    border: 2px solid #1389f4;
    background-color: #ffffff;
    justify-self: center;
}

.LoginPage-SubmitButton:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}