.ProblemTile-Container {
    display: grid;
    margin: 8px 0px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 8px 0px;
}

.ProblemTile-Inner-Container {
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto max-content;
}

.ProblemTile-Difficulty {
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 12px;
    margin: 8px 16px;
    color: #ffffff;
}

.ProblemTile-Name {
    color: #404040;
    padding: 8px;
    margin: 0px;
}

.ProblemTile-Go-To-Problem-Link {
    padding: 8px 16px;
    color: #1389f4;
    text-decoration: none;
}

.ProblemTile-Field-Container {
    display: grid;
    padding: 0px 16px;
    grid-template-columns: max-content max-content;
}