.Error404-Container {
    margin: 64px;
    display: grid;
    justify-items: center;
    gap: 8px;
}

.Error404-StatusCode {
    color: #404040;
    font-size: 32px;
}

.Error404-Message {
    color: #808080;
    font-size: 24px;
}