.ForgotPassword {
    margin: 32px;
    display: grid;
    gap: 16px;
    justify-self: center;
    width: 500px;
}

.ForgotPassword-Header {
    font-size: 32px;
    justify-self: center;
    color: #404040;
}

.ForgotPassword-Field {
    display: grid;
    gap: 8px;
}

.ForgotPassword-Field-Title {
    color: #606060;
    font-size: 20px;
}

.ForgotPassword-SendButton {
    justify-self: center;
}