.ProblemDetails-Container {
    padding: 16px;
}

.Problem-Field-Title {
    color: #404040;
    font-size: 16px;
}

.Problem-Field-Value {
    color: #606060;
    font-size: 12px;
}

.Problem-Samplecase {
    display: grid;
    margin: 8px 0px;
}

.Problem-Samplecase-Box {
    font-size: 12px;
    border-radius: 8px;
    margin: 8px 0px;
}

.Problem-Samplecase-Subtitle {
    color: #606060;
    font-size: 12px;
    justify-self: center;
    padding: 8px;
    text-transform: uppercase;
    border: 1px solid #282c34;
    border-radius: 8px 8px 0px 0px;
    font-weight: bold;
}

.Problem-Samplecase-Innerbox {
    font-size: 12px;
    padding: 16px;
    background-color: #282c34;
    border-radius: 0px 0px 8px 8px;
    color: #ffffff;
}

.Problem-Samplecase-Innerbox p {
    margin: 2px;
}