.ResetPassword {
    display: grid;
    justify-self: center;
    margin: 32px;
    gap: 16px;
    width: 500px;
}

.ResetPassword-Header {
    color: #404040;
    font-size: 32px;
    justify-self: center;
}

.ResetPassword-Field {
    display: grid;
    gap: 8px;
}

.ResetPassword-Field-Title {
    font-size: 20px;
    color: #606060;
}

.ResetPassword-SaveButton {
    justify-self: center;
}