.BlogList-Container {
    display: grid;
    gap: 16px;
    margin: 32px 64px;
}

.BlogList-Header {
    display: grid;
    gap: 16px;
    padding: 16px 0px;
}

.BlogList-Header-Top {
    display: grid;
    grid-template-columns: auto max-content;
}

.BlogList-Header-Title {
    color: #606060;
    font-size: 24px;
}

.BlogTile-Header-SortBy {
    justify-self: start;
}

.BlogList-NoBlogsFound {
    justify-self: center;
    font-size: 20px;
    color: #808080;
}

.BlogList-BlogsFound {
    display: grid;
}

.BlogList-Blog-Container {
    display: grid;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.BlogList-Blog {
    border-bottom: 1px solid #e0e0e0;
    padding: 8px 16px;
}