.Spinner {
    display: grid;
    justify-self: center;
    margin: 200px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid rgba(0, 0, 0, 0.05);
    border-top: 8px solid #1389f4;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}