.LinkButton {
    text-decoration: none;
    color: #1389f4;
    border: 2px solid #1389f4;
    font-weight: bold;
    border-radius: 8px;
    padding: 4px 24px;
    margin: 4px;
    font-size: 12px;
}

.LinkButton:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}