.CreateBlog-Container {
    display: grid;
    margin: 32px 64px;
    gap: 16px;
}

.CreateBlog-Header {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
}

.CreateBlog-Header-Title {
    font-size: 32px;
    color: #404040;
}

.CreateBlog-BlogTitle, .CreateBlog-BlogContent, .CreateBlog-BlogTags {
    display: grid;
    gap: 8px;
}

.CreateBlog-BlogTitle-Title, .CreateBlog-BlogContent-Title, .CreateBlog-BlogTags-Title {
    color: #606060;
    font-size: 20px;
}