.ProblemList-Container {
    display: grid;
    margin: 32px 64px;
}

.ProblemList-Header {
    display: grid;
    gap: 24px;
    padding: 16px 0px;
}

.ProblemList-Header-Title {
    color: #404040;
    font-weight: normal;
    margin: 0px;
}

.ProblemList-Header-Filter {
    display: grid;
    grid-template-columns: auto max-content;
    gap: 32px;
}

.ProblemList-Header-Sort {
    justify-self: start;
}

.ProblemList-NoProblemsFound {
    display: grid;
    justify-self: center;
    font-size: 20px;
    color: #808080;
    padding: 16px;
}

.ProblemList-ProblemsFound {
    display: grid;
    padding: 16px 0px;
}